.bcolor{
    background-color: #69df4c;
}

footer{
  position: fixed;
  bottom: 0 px;
}
.bg-header {
  background-image: url("../img/ba1.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
}

.nav-link{
  cursor: pointer;
}
